.header {
    background-color: #ad8aad;
    height: 100px;
    margin-bottom: 20px;
}
.sidebar {
    background-color: #f2d7cc;
    height: 400px;
    margin-bottom: 20px;
}
.navbar {
    background-color: #77d494;
    height: 50px;
    margin-bottom: 20px;
}
.alert-success{
    margin: 5px;
}
.content-box {
    background-color: #a99aa5;
    height: 80px;
    margin-bottom: 20px;
}
.footer-left {
    background-color: #7ba5cc;
    height: 120px;
}
.footer-right {
    background-color: #7ba5cc;
    height: 120px;
}
.container {
    margin-top: 20px;
}