body{
    border: 2px solid black;
    margin: 20px 40px;
    padding: 20px;
}
 table{
    border-collapse: collapse;
}
.examenes th, tr{
    border: 1px solid black;
    width: 200px;
    text-align: center;
}

.formu {
    margin-bottom: 15px;
    align-items: flex-start;
}

label{
    width: 80px;
    text-align: left;
    padding-top: 3px;
}
